<!--
templateType: page
isAvailableForNewContent: true
label: About Us School
screenshotPath: ../images/template-previews/about-us-two.png
-->
{% extends './layouts/base.html' %}

{% block body %}
{% dnd_area 'dnd_area'
   label='Main section',
   class='body-container body-container--about-us-two'
%}

{# About Banner #}
{% dnd_section
  full_width=true,
  padding={
    "default" : {
      "bottom" : "0px",
      "left" : "0px",
      "right" : "0px",
      "top" : "0px"
    },
    "mobile" : {
      "bottom" : "0px",
      "left" : "0px",
      "right" : "0px",
      "top" : "0px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12,
    padding={
      "default" : {
        "bottom" : "0px",
        "left" : "0px",
        "right" : "0px",
        "top" : "0px"
      },
      "mobile" : {
        "bottom" : "0px",
        "left" : "0px",
        "right" : "0px",
        "top" : "0px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/banner-layouts",
        offset=0,
        width=12,
        banner_layouts_choice={
          'banner_layouts' : 'background_image'
        },
        banner_content= {
         'subtitle': 'About us',
         'content': '<h1><span style=\"color: #ffffff;\">Knowledge for all</span></h1>'
        },
        button_breadcrumb_choice = {
          'select_actions': 'breadcrumb'
        },
        
        style = {
          'background_image' : {
            'image': {
              'src': get_asset_url('../images/multipurpose/banner-five.jpg'),
              'alt': 'Banner Image'
            }
          },
          "max_width" : {
            "enable" : true,
            "value": 450
          }
        }
        
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End of About Banner #}

{# Two Column Content Section #}
{% include_dnd_partial path='../sections/two-column-img-text.html' %}
{# End Of Two Column Content #}

{# Counter Section #}
{% include_dnd_partial path='../sections/two-column-text-counter.html' %}
{# End of Counter Section #}

{# Video Section #}
{% include_dnd_partial path='../sections/two-column-video-text.html' %}
{# End of Video Section #}

{# Image Gallery Section #}
{% dnd_section 
  padding={
    "default" : {
      "bottom" : "80px",
      "top" : "80px"
    },
    "mobile" : {
      "bottom" : "50px",
      "top" : "50px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/title-content",
        style={
          "alignment" : {
            "alignment_choice" : "center"
          },
          "max_width" : {
            "enable" : true
          },
          "subtitle" : {
            "overwrite_style" : true
          }
        },
        subtitle="Gallery"
      %}
        {% module_attribute "content" %}
          <h2>Our World at glance</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo nec felis at pellentesque. Sed amet dolor penatibus sed at posuere justo, lacinia neque</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/spacer",
        offset=0,
        width=12,
        style={
          "height_desktop_" : 40,
          "height_mobile_" : 30,
          "height_tablet_" : 30
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/portfolio-tabs",
        offset=0,
        width=12,
        portfolio=[ {
          "image_field" : {
            "alt" : "Cafeteria",
            "height" : 632,
            "loading" : "lazy",
            "max_height" : 632,
            "max_width" : 400,
            "size_type" : "exact",
            "src" : get_asset_url('../images/multipurpose/portfolio-one.jpg'),
            "width" : 400
          },
          "item_link" : {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.hubspot.com/",
              "type" : "EXTERNAL"
            }
          },
          "items_class" : "*,cafe"
        }, {
          "image_field" : {
            "alt" : "Auditorium",
            "height" : 300,
            "loading" : "lazy",
            "max_height" : 300,
            "max_width" : 400,
            "size_type" : "exact",
            "src" : get_asset_url('../images/multipurpose/portfolio-two.jpg'),
            "width" : 400
          },
          "item_link" : {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.hubspot.com/",
              "type" : "EXTERNAL"
            }
          },
          "items_class" : "*,audi"
        }, {
          "image_field" : {
            "alt" : "Computer Lab",
            "height" : 632,
            "loading" : "lazy",
            "max_height" : 632,
            "max_width" : 400,
            "size_type" : "exact",
            "src" : get_asset_url('../images/multipurpose/portfolio-four.jpg'),
            "width" : 400
          },
          "item_link" : {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.hubspot.com/",
              "type" : "EXTERNAL"
            }
          },
          "items_class" : "*,lab"
        }, {
          "image_field" : {
            "alt" : "Ground",
            "height" : 298,
            "loading" : "lazy",
            "max_height" : 298,
            "max_width" : 397,
            "size_type" : "exact",
            "src" : get_asset_url('../images/multipurpose/portfolio-three.jpg'),
            "width" : 397
          },
          "item_link" : {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.hubspot.com/",
              "type" : "EXTERNAL"
            }
          },
          "items_class" : "*,ground"
        } ],
        tabs=[ {
          "set_initial_filter" : true,
          "tab_id" : "*",
          "tab_link" : "Main Campus"
        }, {
          "set_initial_filter" : false,
          "tab_id" : "lab",
          "tab_link" : "Computer Lab"
        }, {
          "set_initial_filter" : false,
          "tab_id" : "audi",
          "tab_link" : "Auditorium"
        }, {
          "set_initial_filter" : false,
          "tab_id" : "ground",
          "tab_link" : "Ground"
        }, {
          "set_initial_filter" : false,
          "tab_id" : "cafe",
          "tab_link" : "Cafeteria"
        } ]
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End of Image Gallery Section #}

{# Testimonial Section #}
{% dnd_section
 background_color="rgba(243, 244, 248, 1)",
  padding={
    "default" : {
      "bottom" : "100px",
      "top" : "100px"
    },
    "mobile" : {
      "bottom" : "50px",
      "top" : "50px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/title-content",
        offset=0,
        width=12,
        style={
          "alignment" : {
            "alignment_choice" : "center"
          },
          "max_width" : {
            "enable" : true
          },
          "subtitle" : {
            "overwrite_style" : true
          }
        },
        subtitle="Testimonials"
      %}
        {% module_attribute "content" %}
          <h2>Better Education Starts here</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo nec felis at pellentesque. Sed amet dolor penatibus sed at posuere justo, lacinia neque</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/testimonials",
        offset=0,
        width=12,
             style={
          "slider_dots" : {
            "background_color" : {
              "color" : "#c0c0c0",
              "opacity" : 100
            }
          }
        }
        testimonial_layouts_choice={
          "testimonial_layouts" : "double_column_slider"
        },
        testimonials_content=[ {
          "client_information" : "<h5>Brooklyn Simmons</h5>\n<p>Director</p>",
          "content" : "<p>I highly recommend the products and services provided by this organization. I never feel alone in my journey while working with them. You can undoubtedly initiate with them.</p>",
          "image" : {
            "alt" : "Brooklyn Customer",
            "height" : 188,
            "loading" : "lazy",
            "max_height" : 188,
            "max_width" : 188,
            "src" : get_asset_url('../images/multipurpose/testimonial-one.png'),
            "width" : 188
          },
          "social_media" : [ {
            "social_icon" : {
              "name" : "Facebook Square",
              "type" : "REGULAR",
              "unicode" : "f082"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Instagram Square",
              "type" : "REGULAR",
              "unicode" : "e055"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.instagram.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "LinkedIn",
              "type" : "REGULAR",
              "unicode" : "f08c"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.linkedin.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Twitter Square",
              "type" : "REGULAR",
              "unicode" : "f081"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "YouTube Square",
              "type" : "REGULAR",
              "unicode" : "f431"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.youtube.com/",
                "type" : "EXTERNAL"
              }
            }
          } ]
        }, {
          "client_information" : "<h5>Brooklyn Simmons</h5>\n<p>Director</p>",
          "content" : "<p>I highly recommend the products and services provided by this organization. I never feel alone in my journey while working with them. You can undoubtedly initiate with them.</p>",
          "image" : {
            "alt" : "Brooklyn Customer",
            "height" : 188,
            "loading" : "lazy",
            "max_height" : 188,
            "max_width" : 188,
            "src" : get_asset_url('../images/multipurpose/testimonial-two.png'),
            "width" : 188
          },
          "social_media" : [ {
            "social_icon" : {
              "name" : "Facebook Square",
              "type" : "REGULAR",
              "unicode" : "f082"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Instagram Square",
              "type" : "REGULAR",
              "unicode" : "e055"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.instagram.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "LinkedIn",
              "type" : "REGULAR",
              "unicode" : "f08c"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.linkedin.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Twitter Square",
              "type" : "REGULAR",
              "unicode" : "f081"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "YouTube Square",
              "type" : "REGULAR",
              "unicode" : "f431"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.youtube.com/",
                "type" : "EXTERNAL"
              }
            }
          } ]
        }, {
          "client_information" : "<h5>Brooklyn Simmons</h5>\n<p>Director</p>",
          "content" : "<p>I highly recommend the products and services provided by this organization. I never feel alone in my journey while working with them. You can undoubtedly initiate with them.</p>",
          "image" : {
            "alt" : "Brooklyn Customer",
            "height" : 188,
            "loading" : "lazy",
            "max_height" : 188,
            "max_width" : 188,
            "src" : get_asset_url('../images/multipurpose/testimonial-three.png'),
            "width" : 188
          },
          "social_media" : [ {
            "social_icon" : {
              "name" : "Facebook Square",
              "type" : "REGULAR",
              "unicode" : "f082"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Instagram Square",
              "type" : "REGULAR",
              "unicode" : "e055"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.instagram.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "LinkedIn",
              "type" : "REGULAR",
              "unicode" : "f08c"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.linkedin.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Twitter Square",
              "type" : "REGULAR",
              "unicode" : "f081"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "YouTube Square",
              "type" : "REGULAR",
              "unicode" : "f431"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.youtube.com/",
                "type" : "EXTERNAL"
              }
            }
          } ]
        }, {
          "client_information" : "<h5>Brooklyn Simmons</h5>\n<p>Director</p>",
          "content" : "<p>I highly recommend the products and services provided by this organization. I never feel alone in my journey while working with them. You can undoubtedly initiate with them.</p>",
          "image" : {
            "alt" : "Brooklyn Customer",
            "height" : 188,
            "loading" : "lazy",
            "max_height" : 188,
            "max_width" : 188,
            "src" : get_asset_url('../images/multipurpose/testimonial-four.png'),
            "width" : 188
          },
          "social_media" : [ {
            "social_icon" : {
              "name" : "Facebook Square",
              "type" : "REGULAR",
              "unicode" : "f082"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Instagram Square",
              "type" : "REGULAR",
              "unicode" : "e055"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.instagram.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "LinkedIn",
              "type" : "REGULAR",
              "unicode" : "f08c"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.linkedin.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Twitter Square",
              "type" : "REGULAR",
              "unicode" : "f081"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "YouTube Square",
              "type" : "REGULAR",
              "unicode" : "f431"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.youtube.com/",
                "type" : "EXTERNAL"
              }
            }
          } ]
        } ]
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End of Testimonial Section #}

{# Partner Section #}
{% dnd_section
  padding={
    "default" : {
      "bottom" : "80px",
      "top" : "80px"
    },
    "mobile" : {
      "bottom" : "50px",
      "top" : "50px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/our-partners",
        offset=0,
        width=12,
        layout_choice={
          "select_layout" : "listing"
        },
        partner_content=[ {
          "content" : "<p>AI is a branch of computer science which is concerned with making machines capable of performing tasks that require human intelligence.</p>",
          "logo" : {
            "alt" : "Goodfirms",
            "height" : 40,
            "loading" : "lazy",
            "max_height" : 40,
            "max_width" : 270,
            "size_type" : "auto",
            "src" :  get_asset_url('../images/multipurpose/goodfirms.png'),
            "width" : 270
          },
          "partner_logo_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.goodfirms.co/",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "content" : "<p>AI is a branch of computer science which is concerned with making machines capable of performing tasks that require human intelligence.</p>",
          "logo" : {
            "alt" : "Crowd Partner",
            "height" : 40,
            "loading" : "lazy",
            "max_height" : 40,
            "max_width" : 142,
            "size_type" : "auto",
            "src" : get_asset_url('../images/multipurpose/crowd.png'),
            "width" : 142
          },
          "partner_logo_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.goodfirms.co/",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "content" : "<p>AI is a branch of computer science which is concerned with making machines capable of performing tasks that require human intelligence.</p>",
          "logo" : {
            "alt" : "Capterra Partner",
            "height" : 40,
            "loading" : "lazy",
            "max_height" : 40,
            "max_width" : 175,
            "size_type" : "auto",
            "src" : get_asset_url('../images/multipurpose/capterra.png'),
            "width" : 175
          },
          "partner_logo_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.capterra.com/",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "content" : "<p>AI is a branch of computer science which is concerned with making machines capable of performing tasks that require human intelligence.</p>",
          "logo" : {
            "alt" : "Trustpilot Partner",
            "height" : 40,
            "loading" : "lazy",
            "max_height" : 40,
            "max_width" : 162,
            "size_type" : "auto",
            "src" : get_asset_url('../images/multipurpose/trustpilot.png'),
            "width" : 162
          },
          "partner_logo_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.trustpilot.com/",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "content" : "<p>AI is a branch of computer science which is concerned with making machines capable of performing tasks that require human intelligence.</p>",
          "logo" : {
            "alt" : "Hubspot Partner",
            "height" : 40,
            "loading" : "lazy",
            "max_height" : 40,
            "max_width" : 137,
            "size_type" : "auto",
            "src" : get_asset_url('../images/multipurpose/hubspot.png'),
            "width" : 137
          },
          "partner_logo_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.hubspot.com/",
              "type" : "EXTERNAL"
            }
          }
        } ],
        show_content=false
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End of Partner Section #}
{% end_dnd_area %}
{% endblock body %}
