<!--
templateType: page
isAvailableForNewContent: true
label: Homepage Online Classes
screenshotPath: ../images/template-previews/homepage-three.png
-->
{% extends './layouts/base.html' %}

{% block body %}
{% dnd_area 'dnd_area'
  label='Main section',
  class='body-container body-container--homepage-three'
%}

{# Homepage Banner #}
{% dnd_section
  full_width=true,
  padding={
    "default" : {
      "bottom" : "0px",
      "left" : "0px",
      "right" : "0px",
      "top" : "0px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12,
    padding={
      "default" : {
        "bottom" : "0px",
        "left" : "0px",
        "right" : "0px",
        "top" : "0px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/banner-layouts",
        offset=0,
        width=12,
        banner_content={
          "secondary_cta" : {
            "style" : "outline_dark",
            "type" : "none"
          }
        },
        banner_layouts_choice={
          "banner_layouts" : "video_banner"
        },
        style={
          "banner_content_alignment" : {
            "banner_content_alignment_desktop_" : {
              "alignment_choice" : "center"
            }
          },
          "content_color" : {
            "content_color_on_mobile" : {
              "description_color" : {
                "color" : "#666666",
                "opacity" : 100
              }
            },
            "heading" : {
              "enable_heading_color" : true
            },
            "subtitle" : {
              "overwrite_style" : true
            },
            "text" : {
              "enable_content_color" : true
            }
          },
          "max_width" : {
            "enable" : true,
            "value" : 650
          },
          "overlay" : {
            "enable_banner_overlay" : true
          },
          "spacing" : {
            "desktop" : {
              "spacing" : {
                "margin" : {
                  "bottom" : {
                    "units" : "px",
                    "value" : 0
                  },
                  "top" : {
                    "units" : "px",
                    "value" : 0
                  }
                },
                "padding" : {
                  "bottom" : {
                    "units" : "px",
                    "value" : 80
                  },
                  "left" : {
                    "units" : "px",
                    "value" : 0
                  },
                  "right" : {
                    "units" : "px",
                    "value" : 0
                  },
                  "top" : {
                    "units" : "px",
                    "value" : 80
                  }
                }
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End of Homepage Banner #}

{# Course Category Section #}
{% dnd_section
  padding={
    "default" : {
      "bottom" : "100px",
      "top" : "100px"
    },
    "mobile" : {
      "bottom" : "50px",
      "top" : "50px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/title-content",
        offset=0,
        width=12,
        style={
          "alignment" : {
            "alignment_choice" : "center"
          },
          "max_width" : {
            "enable" : true,
            "value" : 760
          },
          "subtitle" : {
            "overwrite_style" : true
          }
        },
        subtitle="What we offer"
      %}
        {% module_attribute "content" %}
          <h2>Our Courses</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo nec felis at pellentesque. Sed amet dolor penatibus sed at posuere justo, lacinia neque</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/spacer",
        offset=0,
        width=12,
        style={
          "height_desktop_" : 60,
          "height_mobile_" : 40,
          "height_tablet_" : 60
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/icon-box",
        offset=0,
        width=12,
        column_count_choice={
          "column_count" : "three_column"
        },
        icon_box_repeater=[ {
          "content" : '<h6>Cloud Computing</h6><p>Data is everything</p>',
          "icon" : {
            "name" : "Cube",
            "type" : "SOLID",
            "unicode" : "f1b2"
          },
          "image" : {
            "alt" : "Rainbow Cloud",
            "height" : 56,
            "loading" : "lazy",
            "max_height" : 56,
            "max_width" : 56,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icons/rainbow.svg'),
            "width" : 56
          }
        }, {
          "content" : '<h6>Art &amp; Design</h6><p>Fun and Challenging</p>',
          "icon" : {
            "name" : "Cube",
            "type" : "SOLID",
            "unicode" : "f1b2"
          },
          "image" : {
            "alt" : "Paint Brush Icon",
            "height" : 56,
            "loading" : "lazy",
            "max_height" : 56,
            "max_width" : 56,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icons/paint-brush.svg'),
            "width" : 56
          }
        }, {
          "content" : '<h6>Marketing</h6><p>Improve your business</p>',
          "icon" : {
            "name" : "Cube",
            "type" : "SOLID",
            "unicode" : "f1b2"
          },
          "image" : {
            "alt" : "Chartpie Icon",
            "height" : 56,
            "loading" : "lazy",
            "max_height" : 56,
            "max_width" : 56,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icons/chartpie.svg'),
            "width" : 56
          }
        }, {
          "content" : '<h6>Development</h6><p>Learn to code</p>',
          "icon" : {
            "name" : "Cube",
            "type" : "SOLID",
            "unicode" : "f1b2"
          },
          "image" : {
            "alt" : "Development Icon",
            "height" : 56,
            "loading" : "lazy",
            "max_height" : 56,
            "max_width" : 56,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icons/app-window.svg'),
            "width" : 56
          }
        }, {
          "content" : '<h6>Finance</h6><p>Manage Funds</p>',
          "icon" : {
            "name" : "Cube",
            "type" : "SOLID",
            "unicode" : "f1b2"
          },
          "image" : {
            "alt" : "Finance Icon",
            "height" : 56,
            "loading" : "lazy",
            "max_height" : 56,
            "max_width" : 56,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icons/money.svg'),
            "width" : 56
          }
        }, {
          "content" : '<h6>Music</h6>\n<p>Learn to play music</p>',
          "icon" : {
            "name" : "Cube",
            "type" : "SOLID",
            "unicode" : "f1b2"
          },
          "image" : {
            "alt" : "mega-phone",
            "height" : 56,
            "loading" : "lazy",
            "max_height" : 56,
            "max_width" : 56,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icons/mega-phone.svg'),
            "width" : 56
          }
        } ],
        style={
          "box_shadow" : {
            "enable_box_shadow" : true
          },
          "content" : { }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End Of Course Section #}

{# Image Gallery Section #}
{% dnd_section 
  padding={
    "default" : {
      "bottom" : "80px",
      "top" : "80px"
    },
    "mobile" : {
      "bottom" : "50px",
      "top" : "50px"
    }
  }
%}
 {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/title-content",
        offset=0,
        width=12,
        style={
          "alignment" : {
            "alignment_choice" : "center"
          },
          "max_width" : {
            "enable" : true
          },
          "subtitle" : {
            "overwrite_style" : true
          }
        },
        subtitle="Gallery"
      %}
        {% module_attribute "content" %}
          <h2>Our World at glance</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo nec felis at pellentesque. Sed amet dolor penatibus sed at posuere justo, lacinia neque</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/spacer",
        offset=0,
        width=12,
        style={
          "height_desktop_" : 30,
          "height_mobile_" : 30,
          "height_tablet_" : 30
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/portfolio-tabs",
        offset=0,
        width=12,
        portfolio=[ {
          "image_field" : {
            "alt" : "Cafeteria",
            "height" : 632,
            "loading" : "lazy",
            "max_height" : 632,
            "max_width" : 400,
            "size_type" : "exact",
            "src" : get_asset_url('../images/multipurpose/portfolio-one.jpg'),
            "width" : 400
          },
          "item_link" : {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.hubspot.com/",
              "type" : "EXTERNAL"
            }
          },
          "items_class" : "*,cafe"
        }, {
          "image_field" : {
            "alt" : "Auditorium",
            "height" : 300,
            "loading" : "lazy",
            "max_height" : 300,
            "max_width" : 400,
            "size_type" : "exact",
            "src" : get_asset_url('../images/multipurpose/portfolio-two.jpg'),
            "width" : 400
          },
          "item_link" : {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.hubspot.com/",
              "type" : "EXTERNAL"
            }
          },
          "items_class" : "*,audi"
        }, {
          "image_field" : {
            "alt" : "Computer Lab",
            "height" : 632,
            "loading" : "lazy",
            "max_height" : 632,
            "max_width" : 400,
            "size_type" : "exact",
            "src" : get_asset_url('../images/multipurpose/portfolio-four.jpg'),
            "width" : 400
          },
          "item_link" : {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.hubspot.com/",
              "type" : "EXTERNAL"
            }
          },
          "items_class" : "*,lab"
        }, {
          "image_field" : {
            "alt" : "Ground",
            "height" : 298,
            "loading" : "lazy",
            "max_height" : 298,
            "max_width" : 397,
            "size_type" : "exact",
            "src" : get_asset_url('../images/multipurpose/portfolio-three.jpg'),
            "width" : 397
          },
          "item_link" : {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.hubspot.com/",
              "type" : "EXTERNAL"
            }
          },
          "items_class" : "*,ground"
        } ],
        tabs=[ {
          "set_initial_filter" : true,
          "tab_id" : "*",
          "tab_link" : "Main Campus"
        }, {
          "set_initial_filter" : false,
          "tab_id" : "lab",
          "tab_link" : "Computer Lab"
        }, {
          "set_initial_filter" : false,
          "tab_id" : "audi",
          "tab_link" : "Auditorium"
        }, {
          "set_initial_filter" : false,
          "tab_id" : "ground",
          "tab_link" : "Ground"
        }, {
          "set_initial_filter" : false,
          "tab_id" : "cafe",
          "tab_link" : "Cafeteria"
        } ]
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End of Image Gallery Section #}

{# Counter Section #}
{% dnd_section
  background_color="rgba(243, 244, 248, 1)"
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/title-content",
        offset=0,
        width=12,
        style={
          "alignment" : {
            "alignment_choice" : "center"
          },
          "subtitle" : {
            "overwrite_style" : true
          }
        },
        subtitle=""
      %}
        {% module_attribute "content" %}
          <h2>Some Facts About us</h2>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/spacer",
        offset=0,
        width=12,
        style={
          "background_color" : {
            "color" : "#f3f4f8",
            "opacity" : 100
          },
          "height_desktop_" : 40,
          "height_mobile_" : 40,
          "height_tablet_" : 40
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/counter",
        offset=0,
        width=12,
        counter_layouts={
          "counter_layout_choice" : "compact_layout"
        },
        counter_repeater=[ {
          "counter_icon" : {
            "name" : "Clock",
            "type" : "REGULAR",
            "unicode" : "f017"
          },
          "counter_text" : "Lectures",
          "counter_unit" : "",
          "counter_value" : "100",
          "image" : {
            "alt" : "clock",
            "height" : 80,
            "loading" : "lazy",
            "max_height" : 80,
            "max_width" : 80,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icons/clock.svg'),
            "width" : 80
          }
        }, {
          "counter_icon" : {
            "name" : "Clock",
            "type" : "REGULAR",
            "unicode" : "f017"
          },
          "counter_text" : "Teachers",
          "counter_unit" : "",
          "counter_value" : "200",
          "image" : {
            "alt" : "Users Icon",
            "height" : 80,
            "loading" : "lazy",
            "max_height" : 80,
            "max_width" : 80,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icons/users-three.svg'),
            "width" : 80
          }
        }, {
          "counter_icon" : {
            "name" : "Clock",
            "type" : "REGULAR",
            "unicode" : "f017"
          },
          "counter_text" : "Projects Finished",
          "counter_unit" : "",
          "counter_value" : "226",
          "image" : {
            "alt" : "Presentation Icon",
            "height" : 80,
            "loading" : "lazy",
            "max_height" : 80,
            "max_width" : 80,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icons/presentation-chart.svg'),
            "width" : 80
          }
        } ],
        style={
          "counter_font" : {
            "text" : {
              "desktop" : {
                "counter_text_font_desktop_" : {
                  "color" : "#53535b",
                  "fallback" : "sans-serif",
                  "font" : "Roboto",
                  "font_set" : "GOOGLE",
                  "size" : 20,
                  "styles" : { },
                  "variant" : "regular"
                },
                "overwrite" : true
              }
            },
            "value" : {
              "desktop" : {
                "counter_value_font_desktop_" : {
                  "color" : "#0e1133",
                  "fallback" : "sans-serif",
                  "font" : "Roboto",
                  "font_set" : "GOOGLE",
                  "size" : 48,
                  "styles" : { },
                  "variant" : "700"
                },
                "overwrite" : true
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End of Counter Section #}

{# Course Listing Section #}
{% dnd_section %}
  {% dnd_column
    offset=0,
    width=12,
    padding={
      "default" : {
        "bottom" : "0px",
        "left" : "16px",
        "right" : "16px",
        "top" : "0px"
      },
      "mobile" : {
        "left" : "0px",
        "right" : "0px"
      }
    }
  %}
    {% dnd_row
      padding={
        "default" : {
          "bottom" : "40px",
          "left" : "0px",
          "right" : "0px",
          "top" : "0px"
        },
        "mobile" : {
          "bottom" : "30px",
          "left" : "0px",
          "right" : "0px",
          "top" : "0px"
        }
      }
    %}
      {% dnd_module
        path="../modules/title-content",
        offset=0,
        width=12,
        style={
          "alignment" : {
            "alignment_choice" : "center"
          },
          "max_width" : {
            "enable" : true
          },
          "subtitle" : {
            "overwrite_style" : true
          }
        },
        subtitle="Whats Trending"
      %}
        {% module_attribute "content" %}
          <h2>Some popular courses</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo nec felis at pellentesque. Sed amet dolor penatibus sed at posuere justo, lacinia neque</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/listing-layouts",
        offset=0,
        width=12,
        enable_box_shadow=true,
        enable_tabs=false,
        listing_content=[ {
          "button" : {
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            },
            "text" : "Enroll Now"
          },
          "date" : {
            "date" : 1637902800000,
            "enable_date" : false
          },
          "date_field" : {
            "date_field_1" : 1644987600000,
            "icon" : {
              "name" : "Calendar",
              "type" : "REGULAR",
              "unicode" : "f133"
            }
          },
          "description" : "<p>Come together live everyday to chat, interact and make Entertainment Together.</p>",
          "detail_page" : {
            "detail_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            }
          },
          "duration" : {
            "icon" : {
              "name" : "Clock",
              "type" : "REGULAR",
              "unicode" : "f017"
            },
            "text" : "New York"
          },
          "enable_description" : false,
          "grid_item_class" : "all",
          "image" : {
            "alt" : "Course",
            "height" : 257,
            "loading" : "lazy",
            "max_height" : 257,
            "max_width" : 395,
            "size_type" : "auto",
            "src" : get_asset_url('../images/multipurpose/course-seven.jpg'),
            "width" : 395
          },
          "subtitle" : {
            "enable_subtitle" : true,
            "subtitle" : "4 months ago"
          },
          "tag" : {
            "enable_tag" : true,
            "tag" : "development"
          },
          "title" : "Learn AngularJS with Live projects in 4 weeks...",
          "user_name" : {
            "icon" : {
              "name" : "User Tie",
              "type" : "SOLID",
              "unicode" : "f508"
            },
            "text" : "Devon Lane"
          }
        }, {
          "button" : {
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            },
            "text" : "Enroll Now"
          },
          "date" : {
            "date" : 1637902800000,
            "enable_date" : false
          },
          "date_field" : {
            "date_field_1" : 1644987600000,
            "icon" : {
              "name" : "Calendar",
              "type" : "REGULAR",
              "unicode" : "f133"
            }
          },
          "description" : "<p>Come together live everyday to chat, interact and make Entertainment Together.</p>",
          "detail_page" : {
            "detail_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            }
          },
          "duration" : {
            "icon" : {
              "name" : "Clock",
              "type" : "REGULAR",
              "unicode" : "f017"
            },
            "text" : "New York"
          },
          "enable_description" : false,
          "grid_item_class" : "all",
          "image" : {
            "alt" : "Course",
            "height" : 257,
            "loading" : "lazy",
            "max_height" : 257,
            "max_width" : 395,
            "size_type" : "auto",
            "src" : get_asset_url('../images/multipurpose/course-eight.jpg'),
            "width" : 395
          },
          "subtitle" : {
            "enable_subtitle" : true,
            "subtitle" : "4 months ago"
          },
          "tag" : {
            "enable_tag" : true,
            "tag" : "development"
          },
          "title" : "Learn AngularJS with Live projects in 4 weeks...",
          "user_name" : {
            "icon" : {
              "name" : "User Tie",
              "type" : "SOLID",
              "unicode" : "f508"
            },
            "text" : "Devon Lane"
          }
        }, {
          "button" : {
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            },
            "text" : "Enroll Now"
          },
          "date" : {
            "date" : 1637902800000,
            "enable_date" : false
          },
          "date_field" : {
            "date_field_1" : 1644987600000,
            "icon" : {
              "name" : "Calendar",
              "type" : "REGULAR",
              "unicode" : "f133"
            }
          },
          "description" : "<p>Come together live everyday to chat, interact and make Entertainment Together.</p>",
          "detail_page" : {
            "detail_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            }
          },
          "duration" : {
            "icon" : {
              "name" : "Clock",
              "type" : "REGULAR",
              "unicode" : "f017"
            },
            "text" : "New York"
          },
          "enable_description" : false,
          "grid_item_class" : "all",
          "image" : {
            "alt" : "Course Three",
            "height" : 257,
            "loading" : "lazy",
            "max_height" : 257,
            "max_width" : 395,
            "size_type" : "auto",
            "src" : get_asset_url('../images/multipurpose/course-three.jpg'),
            "width" : 395
          },
          "subtitle" : {
            "enable_subtitle" : true,
            "subtitle" : "4 months ago"
          },
          "tag" : {
            "enable_tag" : true,
            "tag" : "development"
          },
          "title" : "Learn AngularJS with Live projects in 4 weeks...",
          "user_name" : {
            "icon" : {
              "name" : "User Tie",
              "type" : "SOLID",
              "unicode" : "f508"
            },
            "text" : "Devon Lane"
          }
        }, {
          "button" : {
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            },
            "text" : "Enroll Now"
          },
          "date" : {
            "date" : 1637902800000,
            "enable_date" : false
          },
          "date_field" : {
            "date_field_1" : 1644987600000,
            "icon" : {
              "name" : "Calendar",
              "type" : "REGULAR",
              "unicode" : "f133"
            }
          },
          "description" : "<p>Come together live everyday to chat, interact and make Entertainment Together.</p>",
          "detail_page" : {
            "detail_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            }
          },
          "duration" : {
            "icon" : {
              "name" : "Clock",
              "type" : "REGULAR",
              "unicode" : "f017"
            },
            "text" : "New York"
          },
          "enable_description" : false,
          "grid_item_class" : "all",
          "image" : {
            "alt" : "Course Four",
            "height" : 257,
            "loading" : "lazy",
            "max_height" : 257,
            "max_width" : 395,
            "size_type" : "auto",
            "src" : get_asset_url('../images/multipurpose/course-four.jpg'),
            "width" : 395
          },
          "subtitle" : {
            "enable_subtitle" : true,
            "subtitle" : "4 months ago"
          },
          "tag" : {
            "enable_tag" : true,
            "tag" : "development"
          },
          "title" : "Learn AngularJS with Live projects in 4 weeks...",
          "user_name" : {
            "icon" : {
              "name" : "User Tie",
              "type" : "SOLID",
              "unicode" : "f508"
            },
            "text" : "Devon Lane"
          }
        }, {
          "button" : {
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            },
            "text" : "Enroll Now"
          },
          "date" : {
            "date" : 1637902800000,
            "enable_date" : false
          },
          "date_field" : {
            "date_field_1" : 1644987600000,
            "icon" : {
              "name" : "Calendar",
              "type" : "REGULAR",
              "unicode" : "f133"
            }
          },
          "description" : "<p>Come together live everyday to chat, interact and make Entertainment Together.</p>",
          "detail_page" : {
            "detail_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            }
          },
          "duration" : {
            "icon" : {
              "name" : "Clock",
              "type" : "REGULAR",
              "unicode" : "f017"
            },
            "text" : "New York"
          },
          "enable_description" : false,
          "grid_item_class" : "all",
          "image" : {
            "alt" : "Course",
            "height" : 257,
            "loading" : "lazy",
            "max_height" : 257,
            "max_width" : 395,
            "size_type" : "auto",
            "src" : get_asset_url('../images/multipurpose/course-nine.jpg'),
            "width" : 395
          },
          "subtitle" : {
            "enable_subtitle" : true,
            "subtitle" : "4 months ago"
          },
          "tag" : {
            "enable_tag" : true,
            "tag" : "development"
          },
          "title" : "Learn AngularJS with Live projects in 4 weeks...",
          "user_name" : {
            "icon" : {
              "name" : "User Tie",
              "type" : "SOLID",
              "unicode" : "f508"
            },
            "text" : "Devon Lane"
          }
        }, {
          "button" : {
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            },
            "text" : "Enroll Now"
          },
          "date" : {
            "date" : 1637902800000,
            "enable_date" : false
          },
          "date_field" : {
            "date_field_1" : 1644987600000,
            "icon" : {
              "name" : "Calendar",
              "type" : "REGULAR",
              "unicode" : "f133"
            }
          },
          "description" : "<p>Come together live everyday to chat, interact and make Entertainment Together.</p>",
          "detail_page" : {
            "detail_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.hubspot.com/",
                "type" : "EXTERNAL"
              }
            }
          },
          "duration" : {
            "icon" : {
              "name" : "Clock",
              "type" : "REGULAR",
              "unicode" : "f017"
            },
            "text" : "New York"
          },
          "enable_description" : false,
          "grid_item_class" : "all",
          "image" : {
            "alt" : "Course",
            "height" : 257,
            "loading" : "lazy",
            "max_height" : 257,
            "max_width" : 395,
            "size_type" : "auto",
            "src" : get_asset_url('../images/multipurpose/course-ten.jpg'),
            "width" : 395
          },
          "subtitle" : {
            "enable_subtitle" : true,
            "subtitle" : "4 months ago"
          },
          "tag" : {
            "enable_tag" : true,
            "tag" : "development"
          },
          "title" : "Learn AngularJS with Live projects in 4 weeks...",
          "user_name" : {
            "icon" : {
              "name" : "User Tie",
              "type" : "SOLID",
              "unicode" : "f508"
            },
            "text" : "Devon Lane"
          }
        } ],
        listing_layout_choice={
          "listing_layouts" : "grid_layout"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End of Course Listing Section #}

{# Two Column Video Section #}
{% include_dnd_partial path='../sections/two-column-video-text.html' %}
{# End Of Two Column Video Section #}

{# Testimonial Section #}
{% dnd_section %}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
     {% dnd_module
        path="../modules/title-content",
        offset=0,
        width=12,
        style={
          "alignment" : {
            "alignment_choice" : "center"
          },
          "max_width" : {
            "enable" : true
          },
          "subtitle" : {
            "overwrite_style" : true
          }
        },
        subtitle="Testimonials"
      %}
        {% module_attribute "content" %}
          <h2>Words of our alumni</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo nec felis at pellentesque. Sed amet dolor penatibus sed at posuere justo, lacinia neque</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/testimonials",
        offset=0,
        width=12,
        testimonial_layouts_choice={
          "testimonial_layouts" : "double_column_slider"
        },
        testimonials_content=[ {
          "client_information" : "<h5>Brooklyn Simmons</h5>\n<p>Director</p>",
          "content" : "<p>I highly recommend the products and services provided by this organization. I never feel alone in my journey while working with them. You can undoubtedly initiate with them.</p>",
          "image" : {
            "alt" : "Brooklyn Customer",
            "height" : 188,
            "loading" : "lazy",
            "max_height" : 188,
            "max_width" : 188,
            "src" : get_asset_url('../images/multipurpose/testimonial-one.png'),
            "width" : 188
          },
          "social_media" : [ {
            "social_icon" : {
              "name" : "Facebook Square",
              "type" : "REGULAR",
              "unicode" : "f082"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Instagram Square",
              "type" : "REGULAR",
              "unicode" : "e055"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.instagram.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Twitter Square",
              "type" : "REGULAR",
              "unicode" : "f081"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "LinkedIn",
              "type" : "REGULAR",
              "unicode" : "f08c"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.linkedin.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "YouTube Square",
              "type" : "REGULAR",
              "unicode" : "f431"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.youtube.com/",
                "type" : "EXTERNAL"
              }
            }
          } ]
        }, {
          "client_information" : "<h5>Brooklyn Simmons</h5>\n<p>Director</p>",
          "content" : "<p>I highly recommend the products and services provided by this organization. I never feel alone in my journey while working with them. You can undoubtedly initiate with them.</p>",
          "image" : {
            "alt" : "Brooklyn Customer",
            "height" : 188,
            "loading" : "lazy",
            "max_height" : 188,
            "max_width" : 188,
            "src" : get_asset_url('../images/multipurpose/testimonial-two.png'),
            "width" : 188
          },
          "social_media" : [ {
            "social_icon" : {
              "name" : "Facebook Square",
              "type" : "REGULAR",
              "unicode" : "f082"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Instagram Square",
              "type" : "REGULAR",
              "unicode" : "e055"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.instagram.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Twitter Square",
              "type" : "REGULAR",
              "unicode" : "f081"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "LinkedIn",
              "type" : "REGULAR",
              "unicode" : "f08c"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.linkedin.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "YouTube Square",
              "type" : "REGULAR",
              "unicode" : "f431"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.youtube.com/",
                "type" : "EXTERNAL"
              }
            }
          } ]
        }, {
          "client_information" : "<h5>Brooklyn Simmons</h5>\n<p>Director</p>",
          "content" : "<p>I highly recommend the products and services provided by this organization. I never feel alone in my journey while working with them. You can undoubtedly initiate with them.</p>",
          "image" : {
            "alt" : "Brooklyn Customer",
            "height" : 188,
            "loading" : "lazy",
            "max_height" : 188,
            "max_width" : 188,
            "src" : get_asset_url('../images/multipurpose/testimonial-three.png'),
            "width" : 188
          },
          "social_media" : [ {
            "social_icon" : {
              "name" : "Facebook Square",
              "type" : "REGULAR",
              "unicode" : "f082"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Instagram Square",
              "type" : "REGULAR",
              "unicode" : "e055"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.instagram.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Twitter Square",
              "type" : "REGULAR",
              "unicode" : "f081"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "LinkedIn",
              "type" : "REGULAR",
              "unicode" : "f08c"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.linkedin.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "YouTube Square",
              "type" : "REGULAR",
              "unicode" : "f431"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.youtube.com/",
                "type" : "EXTERNAL"
              }
            }
          } ]
        }, {
          "client_information" : "<h5>Brooklyn Simmons</h5>\n<p>Director</p>",
          "content" : "<p>I highly recommend the products and services provided by this organization. I never feel alone in my journey while working with them. You can undoubtedly initiate with them.</p>",
          "image" : {
            "alt" : "Brooklyn Customer",
            "height" : 188,
            "loading" : "lazy",
            "max_height" : 188,
            "max_width" : 188,
            "src" : get_asset_url('../images/multipurpose/testimonial-four.png'),
            "width" : 188
          },
          "social_media" : [ {
            "social_icon" : {
              "name" : "Facebook Square",
              "type" : "REGULAR",
              "unicode" : "f082"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Instagram Square",
              "type" : "REGULAR",
              "unicode" : "e055"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.instagram.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "Twitter Square",
              "type" : "REGULAR",
              "unicode" : "f081"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "LinkedIn",
              "type" : "REGULAR",
              "unicode" : "f08c"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.linkedin.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "social_icon" : {
              "name" : "YouTube Square",
              "type" : "REGULAR",
              "unicode" : "f431"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://www.youtube.com/",
                "type" : "EXTERNAL"
              }
            }
          } ]
        } ]
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{# End Of Testimonial Section #}

{# Call To Action Section #}
{% dnd_section
  background_color="rgba(243, 244, 248, 1)",
  padding={
    "default" : {
      "bottom" : "80px",
      "top" : "80px"
    },
    "mobile" : {
      "bottom" : "50px",
      "top" : "50px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/title-content",
        subtitle="",
        primary_cta={
          "type" : "btn"
        },
        secondary_cta={
          "style" : "outline_dark",
          "type" : "btn"
        },
        style={
          "alignment" : {
            "alignment_choice" : "center"
          },
          "max_width" : {
            "enable" : true
          },
          "subtitle" : {
            "overwrite_style" : true
          }
        }
      %}
        {% module_attribute "content" %}
          <h2>Interested? Let's get in touch!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo nec felis at pellentesque. Sed amet dolor penatibus sed at posuere justo, lacinia neque</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End of Call To Action Section #}

{% end_dnd_area %}
{% endblock body %}
