<!--
templateType: global_partial
label: Header with navigation
-->
<header class="ac-header-wrap header--with-navigation {% if theme.layout_setting.header.box_shadow.is_box_shadow == true %} ac-box-shadow--enable {% endif %}">

  {# Top dnd header drag and drop area #}
  {% if theme.layout_setting.header.header_top_bar.is_header_top_bar == true %}
  <div class="header-dnd-area1 header__top ac-header__top">
    {% dnd_area 'dnd-top-header' label='Top dnd header' class="content-wrapper" %}
   {% dnd_section
  vertical_alignment="MIDDLE",
  padding={
    'default' : {
      'bottom' : '0px',
      'left' : '0px',
      'right' : '0px',
      'top' : '0px'
    }
  }
%}
  {% dnd_column
    offset=0,
    width=6,
     padding={
    'default' : {
      'bottom' : '0px',
      'left' : '0px',
      'right' : '0px',
      'top' : '0px'
    }
  }
  %}
    {% dnd_row %}
      {% dnd_module
        path='../../modules/icon-box',
        column_count_choice={
          'column_count' : 'two_column'
        },
        icon_box_repeater=[ {
          'content' : '<p><span style=\"color: #ffffff;\">(209) 555-0104</span></p>',
          'icon' : {
            'name' : 'Cube',
            'type' : 'SOLID',
            'unicode' : 'f1b2'
          },
          'image' : {
            'alt' : 'Phone',
            'height' : 24,
            'loading' : 'lazy',
            'max_height' : 24,
            'max_width' : 24,
            'size_type' : 'exact',
            'src' : get_asset_url('../../images/icons/phone.svg'),
            'width' : 24
          }
        }, {
          'content' : '<p><span style=\"color: #ffffff;\">deanna.curtis@example.com</span></p>',
          'icon' : {
            'name' : 'Cube',
            'type' : 'SOLID',
            'unicode' : 'f1b2'
          },
          'image' : {
            'alt' : 'Message Icon',
            'height' : 24,
            'loading' : 'lazy',
            'max_height' : 24,
            'max_width' : 24,
            'size_type' : 'exact',
            'src' : get_asset_url('../../images/icons/envelope-white.svg'),
            'width' : 24
          }
        } ],
        icon_image_selection='image',
        style={
          'icon_box_spacing' : {
            'spacing_desktop_' : {
              'margin' : {
                'bottom' : {
                  'units' : 'px',
                  'value' : 0
                },
                'top' : {
                  'units' : 'px',
                  'value' : 0
                }
              },
              'padding' : {
                'bottom' : {
                  'units' : 'px',
                  'value' : 6
                },
                'left' : {
                  'units' : 'px',
                  'value' : 0
                },
                'right' : {
                  'units' : 'px',
                  'value' : 0
                },
                'top' : {
                  'units' : 'px',
                  'value' : 6
                }
              }
            },
            'spacing_mobile_' : {
              'margin' : {
                'bottom' : {
                  'units' : 'px',
                  'value' : 0
                },
                'top' : {
                  'units' : 'px',
                  'value' : 0
                }
              },
              'padding' : {
                'bottom' : {
                  'units' : 'px',
                  'value' : 8
                },
                'left' : {
                  'units' : 'px',
                  'value' : 0
                },
                'right' : {
                  'units' : 'px',
                  'value' : 0
                },
                'top' : {
                  'units' : 'px',
                  'value' : 8
                }
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=6,
    width=6,
    padding={
    'default' : {
      'bottom' : '0px',
      'left' : '0px',
      'right' : '0px',
      'top' : '0px'
    }
  }
  %}
    {% dnd_row %}
      {% dnd_module
        path='../../modules/social-follow',
        offset=0,
        width=12,
        social_links=[ {
          'accessibility' : {
            'title' : 'Follow us on Facebook'
          },
          'custom_icon' : {
            'name' : 'hubspot'
          },
          'social_account' : 'facebook',
          'social_link' : {
            'no_follow' : false,
            'open_in_new_tab' : true,
            'url' : {
              'href' : 'https://www.facebook.com',
              'type' : 'EXTERNAL'
            }
          }
        }, {
          'accessibility' : {
            'title' : 'Follow us on Instagram'
          },
          'custom_icon' : {
            'name' : 'hubspot'
          },
          'social_account' : 'instagram',
          'social_link' : {
            'no_follow' : false,
            'open_in_new_tab' : true,
            'url' : {
              'href' : 'https://www.instagram.com',
              'type' : 'EXTERNAL'
            }
          }
        }, {
          'accessibility' : {
            'title' : 'Follow us on Twitter'
          },
          'custom_icon' : {
            'name' : 'hubspot'
          },
          'social_account' : 'twitter',
          'social_link' : {
            'no_follow' : false,
            'open_in_new_tab' : true,
            'url' : {
              'href' : 'https://www.twitter.com',
              'type' : 'EXTERNAL'
            }
          }
        }, {
          'accessibility' : {
            'title' : 'Follow us on LinkedIn'
          },
          'custom_icon' : {
            'name' : 'hubspot'
          },
          'social_account' : 'linkedin',
          'social_link' : {
            'no_follow' : false,
            'open_in_new_tab' : true,
            'url' : {
              'href' : 'https://www.linkedin.com',
              'type' : 'EXTERNAL'
            }
          }
        }, {
          'accessibility' : {
            'title' : 'Follow us on Instagram'
          },
          'custom_icon' : {
            'name' : 'hubspot'
          },
          'social_account' : 'youtube',
          'social_link' : {
            'no_follow' : false,
            'open_in_new_tab' : true,
            'url' : {
              'href' : 'https://www.youtube.com',
              'type' : 'EXTERNAL'
            }
          }
        } ],
        styles={
          'alignment' : {
            'alignment' : {
              'horizontal_align' : 'RIGHT'
            },
            'alignment_mobile' : {
              'horizontal_align' : 'CENTER'
            }
          },
          'fill' : {
            'color' : {
              'color' : '#FFFFFF',
              'opacity' : 100
            },
            'overwrite' : true
          },
          'size' : {
            'size' : 18
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
    {% end_dnd_area %}
  </div>
  {% endif %}
  {# End dnd top header drag and drop area #}

  <div class="header-dnd-area2 ac-header">
    {% dnd_area 'header-top' label='Top header' class="content-wrapper" %}
    {# with-navigation-header #}
    {% dnd_section 
    padding={
        'top': 0,
				'bottom': 0,
				'left': 0,
				'right': 0
       }, 
     vertical_alignment='MIDDLE',  
    full_width=true
     %}
    {% dnd_column
    padding={
        'top': 0,
				'bottom': 0,
				'left': 0,
				'right': 0
       },    
        offset=0,
        width=2
      %}
    {% dnd_row %}
    {% dnd_module path='../../modules/logo'
     %}
    {% end_dnd_module %}
    {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
       padding={
        'top': 0,
				'bottom': 0,
				'left': 0,
				'right': 0
       },
        offset=2,
        width=6,
      %}
    {% dnd_row %}
    {% dnd_module path='../../modules/header-toggler' 
    %}
    {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
    {% dnd_module path='../../modules/menu' 
     horizontal_alignment='RIGHT',
     %}
    {% end_dnd_module %}
    {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
       padding={
        'top': 0,
				'bottom': 0,
				'left': 0,
				'right': 0
       },
        offset=8,
        width=4,
      %}
    {% dnd_row %}
    {% dnd_module path='../../modules/header-controls',
     %}
    {% end_dnd_module %}
    {% end_dnd_row %}
    {% end_dnd_column %}
    {% end_dnd_section %}
    {# End of with-navigation-header #}

    {% end_dnd_area %}
    {# {% endif %} #}
  </div>

  {# End top header drag and drop area #}

  {# Bottom header drag and drop area #}
  {% if theme.layout_setting.header.header_bottom_bar.is_header_bottom_bar == true %}
  <div class="header-dnd-area3 header__bottom ac-header__bottom">
    {% dnd_area 'dnd-bottom-header' label='Bottom dnd header' class='content-wrapper' %}
    {% end_dnd_area %}
  </div>
   {% endif %}
  {# End bottom header drag and drop area #}

</header>
