<!--
templateType: "none"
isAvailableForNewContent: false
-->

{# Macro to render a button from a module field #}
{% macro button(btn, overwrite_class) -%}
{% set href = btn.link.url.href %}
{% if btn.link.url.type is equalto "EMAIL_ADDRESS" %}
{% set href = "mailto:" + href %}
{% endif %}
{% if overwrite_class %}
{% set class = overwrite_class %}

{% else %}
{% set class = 'ac-button' %}
{% if btn.style == 'filled_light' %}
{% set class = class ~ ' ac-button--filled' %}
{% elif btn.style == 'outline_light' %}
{% set class = class ~ ' ac-button--outlined' %}
{% elif btn.style == 'filled_dark' %}
{% set class = class ~ ' ac-button--filled-dark' %}
{% elif btn.style == 'outline_dark' %}
{% set class = class ~ ' ac-button--outlined-dark' %}
{% endif %}

{% endif %}

{% set anchor = { 'class': class } %}
<a href="{{ href }}" {{ anchor | xmlattr }} {% if btn.link.open_in_new_tab %}target="_blank"{% endif %} {% if btn.link.rel %}rel="{{ module.button.link.rel }}"{% endif %}>
  {% if module.button_icon_visibility.enable_icon %}
  <span>{% icon name="{{ module.button_icon_visibility.icon.name }}" style="{{ module.button_icon_visibility.icon.type }}" unicode="{{ module.button_icon_visibility.icon.unicode }}" icon_set="{{ module.button_icon_visibility.icon.icon_set }}" %}</span>
  {% endif %}
  <span class="ac-button__text">{{ btn.text }}</span>
</a>

{%- endmacro %}

{# Macro to render title content module from module fields #}
{% macro title_content(module) -%}
{% set class = 'ac-title-content' %}

{% if module.style.alignment.alignment_choice == 'center' %}
{% set class = class ~ ' ac-title-content--center' %}
{% elif module.style.alignment.alignment_choice == 'right' %}
{% set class = class ~ ' ac-title-content--right' %}
{% endif %}

{% if module.style.alignment.alignment_choice_mobile_ == 'center' %}
{% set class = class ~ ' ac-title-content--center-mb' %}
{% elif module.style.alignment.alignment_choice_mobile_ == 'left' %}
{% set class = class ~ ' ac-title-content--left-mb' %}
{% elif module.style.alignment.alignment_choice_mobile_ == 'right' %}
{% set class = class ~ ' ac-title-content--right-mb' %}
{% endif %}

{% set max_width = 'max-width: ' ~ module.style.max_width.value ~ 'px;' %}

<div class="{{ class }}" 
     {% if module.style.max_width and module.style.max_width.enable %} style="{{ max_width }}" {% endif %}>

  {% if module.subtitle %}
  <span class="ac-title-content__subtitle">{{ module.subtitle }}</span>
  {% endif %}

  <div class="ac-content">{{ module.content }}</div>

  {% if module.primary_cta.type != 'none' or module.secondary_cta.type != 'none' %}
  <div class="ac-rich-text__buttons">
    {% if module.primary_cta.type == 'btn' %}
    {{ button(module.primary_cta) }}
    {% endif %}
    {% if module.secondary_cta.type == 'btn' %}
    {{ button(module.secondary_cta) }}
    {% endif %}

  </div>
  {% endif %}
</div>
{%- endmacro %}

{# Macro to render a image from a image field #}
{% macro image(image, classes, default_src) -%}

{% set sizeAttrs = { width: image.width, height: image.height } %}
{% if image.size_type == 'auto' %}
{% set sizeAttrs = { style: 'max-width: 100%; height: auto;' } %}
{% elif image.size_type == 'auto_custom_max' %}
{% set sizeAttrs = { 
      width: '100%', height: 'auto', 
      style: 'max-width: %spx; max-height: %spx'|format(image.max_width, image.max_height)
    } %}
{% endif %}
{% set loadingAttr = image.loading != 'disabled' ? 'loading="{{ image.loading }}"' : '' %}
<img class="{{ classes }}" src="{{ image.src|default(default_src, true) }}" 
     alt="{{ image.alt }}" {{ loadingAttr }}
     {{ sizeAttrs|xmlattr }} />           

{%- endmacro %}

{# Macro to render a icon from a icon field #}
{% macro icon(module) -%}

{% icon
    name="{{ module.icon.name }}"
    style="{{ module.icon.type }}"
    unicode="{{ module.icon.unicode }}"
    icon_set="{{ module.icon.icon_set }}"
%}

{%- endmacro %}

{# Macro to render an anchor tag from a group with a link field #}
{% macro link(anchor, classes) -%}

{% if anchor.type == 'href' %}
{% set attrs = { 'href': anchor.href | default('#', true) } %}

{% else %}

{% set attrs = { 'href': anchor.link.url.href | default('#', true) } %}

{% if anchor.link.url.type is equalto "EMAIL_ADDRESS" %}
{% do attrs.update({ 'href': 'mailto:' + href }) %}
{% endif %}

{% set rel = [] %}

{% if anchor.link.no_follow %}
{% do rel.append("nofollow") %}
{% endif %}

{% if anchor.link.open_in_new_tab %}
{% do rel.append("noopener") %}
{% do attrs.update({ 'target': '_blank' }) %}
{% endif %}

{% if rel %}
{% do attrs.update({ 'rel': rel|join(' ') }) %}
{% endif %}

{% endif %}

{% if classes %}
{% do attrs.update({ 'class': classes }) %}
{% endif %}

<a {{ attrs|xmlattr }}>
  {{ caller() }}
</a>

{%- endmacro %}