<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Academia - password prompt
  screenshotPath: ../../images/template-previews/password-prompt.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "This page is private | Enter password" %}

{% block body %}
<section class="systems-page password-prompt-wrap">
  <div class="system-page__banner">    
    {% if theme.system_page_setting.password_prompt_setting.is_password_prompt_banner_img %}
    {% set loadingAttr = theme.system_page_setting.password_prompt_setting.password_prompt_banner.password_prompt_banner_image.loading != 'disabled' ? 'loading="{{ theme.system_page_setting.password_prompt_setting.password_prompt_banner.password_prompt_banner_image.loading }}"' : '' %}
    <img src="{{ theme.system_page_setting.password_prompt_setting.password_prompt_banner.password_prompt_banner_image.src }}" alt="{{ theme.system_page_setting.password_prompt_setting.password_prompt_banner.password_prompt_banner_image.alt }}" {{ loadingAttr }}>  
    {% endif %}
  </div>
  <div class="password-prompt__content">
    {% module 'content'
      path='@hubspot/rich_text',
      html='<h1>Password Required</h1><p>Please enter the password required to view this page.</p>'
    %}
    {% module 'password_prompt'
      extra_classes='password-prompt',
      path='@hubspot/password_prompt'
    %}
  </div>
</section>
{% endblock body %}