<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: Academia - email subscriptions confirmation
  screenshotPath: ../../images/template-previews/subscriptions-confirmation.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Confirm subscriptions" %}

{% block body %}
<section class="systems-page subscription-confirmation">
  <div class="systems-page__content-wrap">
        <h1 class="systems-page__heading">Thanks for updating your email preference</h1>
        </div>
  <div class="ac-subscription-confirmation">
    {% module 'subscriptions_confirmation'
      path='@hubspot/email_subscriptions_confirmation'
    %}
  </div>
</section>
{% endblock body %}
